<div style="width:1370px;height:525px;background-image:url(<%=asset_path 'back.png'%>);position:fixed;margin-left:-10px;margin-top:40px" class="noselect">
			<p
			style="position:absolute;text-shadow:3px 3px 10px #848FC1;font-family:helvetica, ubuntu;
			margin-left:10%;margin-top:6%;color:#ffffff;text-align:center;letter-spacing:4px;
			font-size:32px;"
			>Find a Priest just select your city your area and religion<br /> to filter down the results.</p>
			<div class="ilu"><%=render 'par1'%></div>			
</div>

<!--IDHAR -->
