/*// Place all the styles related to the PriestUsers controller here.
// They will automatically be included in #00A78B majestic green
#3C3C3C application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*/

.result-container{width: 89%;
margin-left: 134px;}

/*=======HEADER DIV+++++++++++++*/
.listing-priests{
	padding-left: 2%;
	letter-spacing:7px;
	
	color: #00A78B;
	text-shadow:0 0 2px #F2F3F3;
	height: 80px;
}
.dicon{width:90px;height: 90px;padding-left: 0;}

.repeat{
	background-color: #848FC1;
	color: #F2F3F3;
	padding-top: 2%;
	letter-spacing: 3px;
	padding-left: 2%;
	.name{
		letter-spacing: 5px;
		font-weight: bold;
		font-size: 18px;
		

	}
}
